.vscode
build
build-arm/cmake_install.cmake
build-arm/CMakeCache.txt
build-arm/Makefile
build-arm/CMakeFiles/cmake.check_cache
build-arm/CMakeFiles/CMakeDirectoryInformation.cmake
build-arm/CMakeFiles/CMakeError.log
build-arm/CMakeFiles/CMakeOutput.log
build-arm/CMakeFiles/Makefile.cmake
build-arm/CMakeFiles/Makefile2
build-arm/CMakeFiles/progress.marks
build-arm/CMakeFiles/TargetDirectories.txt
build-arm/CMakeFiles/3.20.0/CMakeCCompiler.cmake
build-arm/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
build-arm/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_C.bin
build-arm/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
build-arm/CMakeFiles/3.20.0/CMakeSystem.cmake
build-arm/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.c
build-arm/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.o
build-arm/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-arm/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.o
build-arm/CMakeFiles/Progress/5
build-arm/CMakeFiles/Progress/8
build-arm/CMakeFiles/Progress/count.txt
build-arm/cognit/cmake_install.cmake
build-arm/cognit/Makefile
build-arm/cognit/CMakeFiles/CMakeDirectoryInformation.cmake
build-arm/cognit/CMakeFiles/progress.marks
build-arm/cognit/CMakeFiles/cognit.dir/build.make
build-arm/cognit/CMakeFiles/cognit.dir/cmake_clean_target.cmake
build-arm/cognit/CMakeFiles/cognit.dir/cmake_clean.cmake
build-arm/cognit/CMakeFiles/cognit.dir/compiler_depend.internal
build-arm/cognit/CMakeFiles/cognit.dir/compiler_depend.make
build-arm/cognit/CMakeFiles/cognit.dir/compiler_depend.ts
build-arm/cognit/CMakeFiles/cognit.dir/depend.make
build-arm/cognit/CMakeFiles/cognit.dir/DependInfo.cmake
build-arm/cognit/CMakeFiles/cognit.dir/flags.make
build-arm/cognit/CMakeFiles/cognit.dir/link.txt
build-arm/cognit/CMakeFiles/cognit.dir/progress.make
build-arm/cognit/CMakeFiles/cognit.dir/src/base64.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/base64.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/cJSON_Utils.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/cJSON_Utils.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/cJSON.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/cJSON.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/cognit_http.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/cognit_http.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/faas_parser.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/faas_parser.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/ip_utils.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/prov_engine_cli.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/prov_engine_cli.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/serverless_runtime_client.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/serverless_runtime_client.c.obj.d
build-arm/cognit/CMakeFiles/cognit.dir/src/serverless_runtime_context.c.obj
build-arm/cognit/CMakeFiles/cognit.dir/src/serverless_runtime_context.c.obj.d
build-arm/examples/cmake_install.cmake
build-arm/examples/Makefile
build-arm/examples/CMakeFiles/CMakeDirectoryInformation.cmake
build-arm/examples/CMakeFiles/progress.marks
build-arm/examples/CMakeFiles/minimal-offload-example.dir/build.make
build-arm/examples/CMakeFiles/minimal-offload-example.dir/cmake_clean.cmake
build-arm/examples/CMakeFiles/minimal-offload-example.dir/compiler_depend.make
build-arm/examples/CMakeFiles/minimal-offload-example.dir/compiler_depend.ts
build-arm/examples/CMakeFiles/minimal-offload-example.dir/depend.make
build-arm/examples/CMakeFiles/minimal-offload-example.dir/DependInfo.cmake
build-arm/examples/CMakeFiles/minimal-offload-example.dir/flags.make
build-arm/examples/CMakeFiles/minimal-offload-example.dir/link.txt
build-arm/examples/CMakeFiles/minimal-offload-example.dir/progress.make
